

@media screen and (max-width:1200px){
    /* Desktop, large screen  */
  .half-width h1{
    font-size: 35px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width:1024px){
/* Small screen and Laptop */
  .sec1 .half-width h1{
    font-size: 33px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width:768px){
/* ipad, tablet */
 .sec1 .half-width h1{
    font-size: 25px;
 }

 .half-width img{
    height: 350px
 }

 .card{
    width: 100%;
    height: 350px;
    margin-top: 40px;
    padding: 50px;
 }
}



@media screen and (max-width:576px){
/* for mobile device */
    
    main p{
        font-size: 25px;
    }

    .sec1 .half-width img{
        margin-top: 35px;
    }

    .sec3 .half-width h2{
        font-size: 60px;
        margin-top: 30px;
    }
    .sec2 h1{
        font-size: 30px;
    }

    .sec3 .half-width h2{
        font-size: 21px;
    }

    #mobile-application{
        font-size: 30px;
    }

    .sec4 .half-width img{
        width: 100%;
        margin-top: 35px;
    }

    .sec5 .half-width img{
        margin-bottom: 35px;
    }
    .card{
        width:100%;
        height: 500px;
        margin-top:35px;
        padding: 50px;
    }

    .sec1 h1{
        text-align:center;
    }

    .half-width{
        width:100%;
    }

    .half-width p{
        font-size: 30px;
    }

    /* Footer section */
    footer h2{
        font-size: 28px;
        margin-bottom: 15px;
    }
}
