

@media screen and (max-width:1200px){
    /* Desktop, large screen  */
  
}

@media screen and (max-width:1024px){
/* Small screen and Laptop */
  .sec1 .half-width h1{
    font-size: 33px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width:768px){
/* ipad, tablet */
.sec1 .half-width h1{
    font-size: 25px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width:576px){
/* for mobile device */
 

    /* sec1 */
    .half-width h1 {
        font-weight: 700;
        font-size: 35px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    /* sec2 */
    .sec2 h1{
        font-size: 30px;
    }

    .sec3 .half-width h2{
        font-size: 21px;
    }


    /* sec4 above */
    #mobile-application{
        font-size: 30px;
    }

    .card{
        width:100%;
        margin-top:25px;
    }

    .sec1 h1{
        text-align:center;
    }

    .half-width{
        width:100%;
    }

    /* Footer section */
    footer h2{
        font-size: 28px;
        margin-bottom: 15px;
    }
}
